.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  align-items: center;
  img {
    width: 1.5rem;
    height: 1.5rem;
  }
  p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #212121;
  }
}

.centerSection {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1;
  justify-content: center;
  flex-wrap: wrap;
}

.searchForm {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  max-width: 400px;

  input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
  }
}

.startButton {
  text-transform: uppercase;
  background-color: #8e2a61;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: bold;
  white-space: nowrap;
  font-size: 14px;
  transition: background 0.3s;

  &:hover {
    background-color: #71214d;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin-bottom: 30px;

    img {
      width: 1.3rem;
      height: 1.3rem;
    }
    p {
      font-size: 1.3rem;
      font-weight: bold;
      color: #212121;
    }
  }

  .centerSection {
    width: 100%;
    justify-content: center;
  }

  .searchForm {
    width: 80%;
    max-width: 100%;
  }

  .startButton {
    width: 80%;
    text-align: center;
    padding: 0.7rem 1rem;
    font-size: 12px;
  }
}
