@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 62.5%;
  box-sizing: inherit;
  color: #000;
  font-family: "Figtree", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
  object-fit: cover;
}
