$primary-color: #4caf50;
$secondary-color: #f4f4f4;
$font-family: "Roboto", sans-serif;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 62.5%;
  box-sizing: inherit;
  color: #000;
}

.container {
  width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
  object-fit: cover;
}
